<%- include("partials/header"); -%>

<h1 class="underlined"> <%= query %> </h1>

<h3> Temperature: <%= temp %> °C </h3>

<h4> Weather Description: <%= weatherDescription %> </h3>

<h4> Wind Speed: <%= windSpeed %> km/h </h3>

<img src=<%= imageURL %> alt="Weather Picture">

<%- include("partials/footer"); -%>